[submodule "AlinSpace.Web"]
	path = AlinSpace.Web
	url = git@github.com:onixion/AlinSpace.Web
[submodule "AlinSpace.Web.ReverseProxy"]
	path = AlinSpace.Web.ReverseProxy
	url = git@github.com:onixion/AlinSpace.Web.ReverseProxy
[submodule "AlinSpace.Database"]
	path = AlinSpace.Database
	url = git@github.com:onixion/AlinSpace.Database
[submodule "AlinSpace.Web.Blazor"]
	path = AlinSpace.Web.Blazor
	url = https://github.com/onixion/AlinSpace.Web.Blazor
